<!doctype html>

<html lang="en">
<head>
	<% if(htmlWebpackPlugin.options.trackJSToken) { %>
	<!-- BEGIN TRACKJS -->
	<script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
	<script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
	<!-- END TRACKJS -->
	<% } %>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

</head>

<body>
	<h1>Users</h1>
	<table>
		<thead>
			<th>&nbsp;</th>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</thead>
		<tbody id="users">

		</tbody>
	</table>
</body>
</html>
